<launch>
    <arg name="third_person_cam" default="camera2"/>
    <arg name="third_person_serial_no" default="913522071401"/>

    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        <arg name="enable_pointcloud" value="false"/>
        <arg name="camera" value="$(arg third_person_cam)"/>
        <arg name="serial_no" value="$(arg third_person_serial_no)"/>
        <arg name="color_width" value="1280" />
        <arg name="color_height" value="720" />
        <arg name="color_fps" value="15" />
    </include>
</launch>
